<script>

    //busca la primera ocurrencia de cada script en la lista de requests, lo destaca y crea menu de navegacion con el tiempo total de descarga y acceso rapido

    var req = document.getElementsByClassName('req');

    function busca(req) {
        var tagArr = ['gpt.js', 'pubads_impl', '/ads?', '/view?'];
        for (var k = 0; k < tagArr.length; k++) {

            function buscaArr(req, tagArr, k) {
                var idArr = ['gpt', 'impl', 'ads', 'view'];

                for (var i = 0; i < req.length; i++) {
                    var n = req[i].innerHTML;
                    if (n.includes(tagArr[k])) {
                        var nav = document.getElementById(idArr[k]);
                        document.querySelector("#" + CSS.escape(req[i].id) + "").parentElement.style.background = '#0FA0CE';
                        nav.innerHTML = " || " + idArr[k] + ": <a href=#" + i + ">[req " + req[i].id + "]</a>" + req[i].dataset.totaldownloadtime + "ms";
                        return;
                    }
                }
            }
            buscaArr(req, tagArr, k);
        }
    }
    busca(req);
</script>