body
    include ./includes/header.pug
    include ./includes/navbar.html
    style body{font-family:"Comic Sans MS"; color:'red'} li{font-color:'blue';}
    body
        div(class="container")
            hr

            div(class="row center")
                img(src="img/cat.jpg" alt="no soup for you")
                hr
                h1 WebTech Automation Team
                ul
                    li Mazzeo, Console.log() oriented Developer
                    li Jimmy, JS's Stuff 'n shit Consulting
                    li Cenoz, the guy in the corner
                h1 Conizã
                
    include ./includes/footer.pug