html
    head
        title= "Reports WPT"
        style
            include ./includes/header.pug
            
    
    body
        include ./includes/navbar.html
        div(class="container")
            div(class="row")
                br
                h1(class="center")
                    |Painel de Relatórios<br>Web Page Speed
                hr
                h5 Importação e armazenamento de arquivos .har do Web Page Test
                h5 Lista de relatórios armazenados
                h5 Resumo de velocidade de carregamento de recursos do GPT
                hr
                ul
                    li Biblioteca Google Publisher Tag (gpt.js)        
                    li pubads_impl
                    li Ad Request (/ads?)
                    li Ad viewability (/view?)
                h5
                    a(href="https://headerbidding.co/google-publisher-tag-gpt/") Sobre a GPT
