html
    head
        title= "Reports WPT"
        style
            include ./includes/header.pug
            
    
    body
        include ./includes/navbar.html
        div(class="container")
            div(class="row")
                br
                h3(class="center")
                    |Painel de Relatórios<br>Web Page Speed
                    |Carregamento de recursos da GPT<br/>(Google Publisher Tag)
                hr
                h4 Funcionalidades
                h5 Importação e armazenamento de arquivos .har do 
                    a(href="https://www.webpagetest.org/" target="_blank") Web Page Test
                h5 Conversão de .HAR para .JSON com dados selecionados para relatório
                h5 Lista de relatórios armazenados
                h5 Resumo de velocidade de carregamento de recursos da GPT a partir de JSON
        
                hr
                h4 Getting Started
                div(class="row")
                    div(class="six columns")
                        a(href="https://docs.google.com/document/d/1q0GmkiJvSEJotbQgPMiPXEOOvtS6toybVlc4thxekV0/edit" target="_blank") Tools & Tips - Training
                        h5 Google
                        a(href="https://developers.google.com/web/fundamentals/performance/why-performance-matters" target="_blank") Why Performance Matters<br/>
                        a(href="https://support.google.com/admanager/answer/181073?hl=en" target="_blank") Overview of GPT<br/>
                        a(href="https://support.google.com/admanager/answer/1638622?hl=en" target="_blank") GPT sample<br/>
                        a(href="https://support.google.com/admanager/answer/7485975?hl=en&ref_topic=4390039" target="_blank") GPT best practices
                        a(href="https://support.google.com/admanager/answer/4524488" target="_blank") Viewability and Active View                    
                        h5 External
                        a(href="https://headerbidding.co/google-publisher-tag-gpt/" target="_blank") Sobre a GPT (Google Publisher Tag)
                    div(class="six columns")
                        h5 Analysis Resources
                        a(href="https://docs.google.com/presentation/d/1UVk_BMFY2KYIsFaS96sJq9KECmTODxTLbUKT13suebw/edit#slide=id.g22d01a4096_0_10" target="_blank") PageSpeed Deck Template<br/>
                        a(href="https://docs.google.com/presentation/d/1DwUh4EOQGf5cpK5j4SR1SVE_yHRBQB5OTA20rXm80WU/edit#slide=id.g22d01a4096_0_10" target="_blank") FollowUp Deck Template<br/>
                        a(href="https://docs.google.com/document/d/1wq2uA0IhNLW-_iuSpFMTHge7IfQXaaNI4AKBoCsXuZY/edit#heading=h.jmd7tboz7xy6" target="_blank") Email Templates<br/>
                        a(href="https://docs.google.com/forms/d/e/1FAIpQLSd1K_9ysV8POHFDgWMynrwdd3t6ooYliIVjxObnLX__O8WMVw/viewform" target="_blank") LPS Engagement Form<br/>
                        a(href="https://docs.google.com/spreadsheets/d/1iNhPIEpF1P4V3WmfM5n818RWUUPIyQ1XdHKV8mNj5v4/edit#gid=2036050013" target="_blank") LPS Sheet (Inform Calls to close ticket)
                        