
html
    head
        title= "Reports WPT"
        style
            include ./includes/header.pug
            
    
    body
        include ./includes/navbar.html
        div(class="container")
            h1(class="center")
                |Painel de Relatórios<br>Web Page Test
            hr
            h3(class="center")
                |Novo Relatório
            p(id="url")
            
            div(class="row center")

                form(name="formulario" action="/gethar" method="post")
                    label(for="site")
                        |NºTicket e URL Site
                    input(type="text" name="site" size="50" placeholder="[X-XXXXXXXXXXXXX][mobile]www.site.com" required)
                    label(for="url")
                        |HASH .har<br>URL teste: https://www.webpagetest.org/result/ HASH /
                    input(type="text" name="hash" size="50" placeholder=" 190916_5G_212c81909a617586f70df1d2c63d33b7" required)
                    br
                    input( type="submit" value="Criar Relatório")